<!-- adicionar_transacao.html

<h1>Adicionar Transação</h1>
{% if user.is_authenticated %}
    <p>Bem-vindo, {{ user.username }}! <a href="{% url 'logout' %}">Sair</a></p>
{% else %}
    <a href="{% url 'login' %}">Entrar</a>
{% endif %}
<a href="{% url 'logout' %}">Sair</a>
<form method = 'post'>

    {% csrf_token %}  <!-- Token de segurança do Django, obrigatório em formulários Django para proteção contra ataques CSRF. -->
    <!--{{form.as_p}}  Renderiza o formulário como parágrafos 
    <button type = 'submit'> Salvar </button> -->

<!-- </form> 

    <a href="{% url 'cadastrar_categoria' %}">Cadastrar nova categoria</a>

    <a href = "{% url 'lista_transacoes' %}"> Voltar para a lista </a> -->

{% load static %} <!-- Carrega o static do Django -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Transação</title>
    <link rel="stylesheet" href="{% static 'css/add_transacoes.css' %}">
</head>
<body>

    <h1>Adicionar Transação</h1>

    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.username }}! <a href="{% url 'logout' %}">Sair</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Entrar</a></p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

    <hr>

    <p>
        <a href="{% url 'cadastrar_categoria' %}">Cadastrar nova categoria</a> |
        <a href="{% url 'lista_transacoes' %}">Voltar para a lista</a>
    </p>

</body>
</html>
