{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="login-card">
            <h2>Login</h2>
            
            <form class="login-form">
                <div class="form-group">
                    <label for="email">
                        <i class="far fa-envelope"></i>
                        <input type="email" id="email" placeholder="Email">
                    </label>
                </div>
                
                <div class="form-group">
                    <label for="senha">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="senha" placeholder="Senha">
                    </label>
                </div>
                
                <div class="form-options">
                    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                </div>
                
                <button type="submit" class="btn-login">Entrar</button>
            </form>
            
            <div class="social-login">
                <p>ou faça login com plataformas sociais</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            
            <div class="register-link">
                <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
            </div>
        </div>
    </div>
</body>
</html>